<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
<title>Biubiubiu</title>
<link rel="stylesheet" type="text/css" href="CSS/basicView.css">
<script type="text/javascript" src="JS/basicJS.js"></script>
<script type="text/javascript" src="http://cdn.staticfile.org/jquery/1.11.1/jquery.min.js"></script>	
</head>

<body>
	<!--右侧导航栏-->
	<div class="right_card-holder">
        <div class="right_card-wrapper">
			<div class="right_card bg1">
				<input type="image" src="Resources/right_bar1.png" id="mode_bt" width="calc(16vh)" height="25%" alt=" ">
				<input type="image" src="Resources/right_bar2.png" id="assignment_bt" width="calc(16vh)" height="25%" alt=" ">
				<input type="image" src="Resources/right_bar3.png" id="pause_bt" width="calc(16vh)" height="25%" alt=" ">
				<input type="image" src="Resources/right_bar4.png" id="exit_bt" width="calc(16vh)" height="25%" alt=" ">
			</div>
        </div>
    </div>
	
	<!--左侧小地图-->
	<div id="map_layout">
		<a href="javascript:map_prompt();"><input type="image" id="map_bt" src="Resources/map.jpg" width="60%" height="60%" alt=" "></a>
	</div>
	
	<!--顶部导航栏-->
	<div id="top_bar_layout">
		<div id="room_layout">
			  <div class="dropdown">
			  <button class="dropbtn">
				  <img src="Resources/room_bt.png" width="24" height="24" alt=" ">
			  </button>
			  <div class="dropdown-content">
				<a href="javascript:changeRoomName();" id="room1">涉密工作机构</a>
				<a href="javascript:changeRoomName();" id="room2">涉密人员教育</a>
				<a href="javascript:changeRoomName();" id="room3">涉密计算机机房</a>
				<a href="javascript:changeRoomName();" id="room4">计算机网络</a>
				<a href="javascript:changeRoomName();" id="room5">文印室</a>
				<a href="javascript:changeRoomName();" id="room6">涉密文件印刷</a>
				<a href="javascript:changeRoomName();" id="room7">绝密级文件</a>
				<a href="javascript:changeRoomName();" id="room8">核心秘密文件</a>
			  </div>
			</div>
			<span id="roomName">涉密计算机机房</span>
		</div>
	</div>
	
	<!--任务说明弹窗内容-->
	<div class="parent_container">
		<div class="rectangle" >
			<h3>任 务 说 明</h3>
				<div>
					<p>在本场景中，你需要完成以下三项任务：</p>
					<ul>
						<li><strong>任务一:</strong> 现场检查保密委员会或者保密部门成立的文件，现场检查保密委员会或者保密部门下发的工作文件。</li>
						<li><strong>任务二:</strong> 现场检查各级组织抓保密、议保密及学习宣贯全军和学校保密工作会议精神和有关文件情况的相关记录是否准确详实。</li>
						<li><strong>任务三:</strong> 现场检查职工、文职人员、非现役公勤人员和其他聘用人员是否分类别签订保密协议书，集中文印室文印员是否签订保密责任书；在涉密岗位工作的人员是否报本单位保密部门备案。</li>
					</ul>
					<button id="pop_close_bt">我已了解</button>
				</div>
		</div>
	</div>
	
	<!--左侧检查项目栏-->
	<div class="left_card-holder">
        <div class="left_card-wrapper">
                <div class="left_card bg2">
					<div id="list_title_div"><span>检 查 项 目</span></div>
					<div class="box">
						<table border="none" frame="void" rules="none">
							<tr>
							  <th colspan="2">1. 是否有保密委员会或者保密部门成立的文件？</th>
							</tr>
							<tr>
							  <td>
								  <label class="m-check ui-margin">
									 <input type="radio" name="option1" value="qualified" v-model="remind"/>
									 <div class="m-radio ui-pos"></div>
									 <span>合格</span>
								  </label>
							  </td>
							  <td>
								  <label class="m-check ui-margin">
									 <input type="radio" name="option1" value="unqualified" v-model="remind"/>
									 <div class="m-radio ui-pos"></div>
									 <span>不合格</span>
								  </label>
							  </td>
							</tr>
							<tr>
							  <th colspan="2">2. 是否有保密委员会或者保密部门成立的文件？</th>
							</tr>
							<tr>
							  <td>
								  <label class="m-check ui-margin">
									 <input type="radio" name="option2" value="qualified" v-model="remind"/>
									 <div class="m-radio ui-pos"></div>
									 <span>合格</span>
								  </label>
							  </td>
							  <td>
								  <label class="m-check ui-margin">
									 <input type="radio" name="option2" value="unqualified" v-model="remind"/>
									 <div class="m-radio ui-pos"></div>
									 <span>不合格</span>
								  </label>
							  </td>
							</tr>
							<tr>
							  <th colspan="2">3. 是否有保密委员会或者保密部门成立的文件？</th>
							</tr>
							<tr>
							  <td>
								  <label class="m-check ui-margin">
									 <input type="radio" name="option3" value="qualified" v-model="remind"/>
									 <div class="m-radio ui-pos"></div>
									 <span>合格</span>
								  </label>
							  </td>
							  <td>
								  <label class="m-check ui-margin">
									 <input type="radio" name="option3" value="unqualified" v-model="remind"/>
									 <div class="m-radio ui-pos"></div>
									 <span>不合格</span>
								  </label>
							  </td>
							</tr>
							<tr>
							  <th colspan="2">4. 是否有保密委员会或者保密部门成立的文件？</th>
							</tr>
							<tr>
							  <td>
								  <label class="m-check ui-margin">
									 <input type="radio" name="option4" value="qualified" v-model="remind"/>
									 <div class="m-radio ui-pos"></div>
									 <span>合格</span>
								  </label>
							  </td>
							  <td>
								  <label class="m-check ui-margin">
									 <input type="radio" name="option4" value="unqualified" v-model="remind"/>
									 <div class="m-radio ui-pos"></div>
									 <span>不合格</span>
								  </label>
							  </td>
							</tr>
							<tr>
							  <th colspan="2">5. 是否有保密委员会或者保密部门成立的文件？</th>
							</tr>
							<tr>
							  <td>
								  <label class="m-check ui-margin">
									 <input type="radio" name="option5" value="qualified" v-model="remind"/>
									 <div class="m-radio ui-pos"></div>
									 <span>合格</span>
								  </label>
							  </td>
							  <td>
								  <label class="m-check ui-margin">
									 <input type="radio" name="option5" value="unqualified" v-model="remind"/>
									 <div class="m-radio ui-pos"></div>
									 <span>不合格</span>
								  </label>
							  </td>
							</tr>
							</table>
					</div>
                </div>
        </div>
    </div>
	
	<!--右下角提示按钮-->
	<div id="tip_bt_layout">
	  <input type="image" src="Resources/tip_bt.png" width="48" height="48" alt=" ">
	</div>
	<div class="hi-icon-wrap hi-icon-effect-8">
		<a href="javascript:info_prompt('提示：“三铁一器”指的是铁门、铁窗和铁栅栏。',1200);" class="hi-icon" ></a></div>
	

</body>
</html>
